@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  fontFamily: 'articulat';
  src: url('../../../../public/fonts/articulat/Articulat_CF_OTF/ArticulatCF-Regular.otf');
  font-weight: normal;

  /* Add additional formats if needed */
}

/* @font-face {
  fontFamily: "visby-bold";
  src: url("../../../../public/fonts/Visby/VisbyCF-Bold.otf"); 
} */

/* @font-face {
  fontFamily: "visby-regular";
  src: url("../../../../public/fonts/Visby/VisbyCF-Regular.otf");
} */

body {
  overflow-y: hidden;
  /* fontFamily: "articulat"; */
}

::-webkit-scrollbar {
  width: 4px;
}
:-webkit-scrollbar-track {
  background: #252b2d;
  border-radius: 38px;
}

::-webkit-scrollbar-thumb {
  background: #484848;
  border-radius: 38px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #484848 #252b2d;
  }
}
