name: CI Pipeline

on:
  push:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login Dockerhub
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      - name: Build the Docker image for backend
        run: |
          cd backend-nestJs && docker build -t ezekielkaeyros/swivybackend .
      - name: Push to Dockerhub for backend
        run: docker push ezekielkaeyros/swivybackend:latest
      - name: Build and push frontend
        run: |
          cd frontend && docker build -t ezekielkaeyros/swivyfrontend . && docker push ezekielkaeyros/swivyfrontend:latest
